body {
  margin: 0;
  font-family: monospace;
  background: #111;
  color: white;
  text-align: center;
}

h1 {
  margin: 1rem 0;
}

#stats-box {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0,0,0,0.8);
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-family: sans-serif;
  font-size: 14px;
  z-index: 999;
}

#map {
  height: 80vh;
  width: 90vw;
  margin: auto;
  border: 2px solid #333;
}

.modal {
  position: fixed;
  line-height: 1.5;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #222;
  padding: 2rem;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
}

#modal-action {
  margin-top: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
  background: #444;
  color: white;
  border: none;
  cursor: pointer;
}
#image-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

#gallery-img {
  max-width: 80%;
  max-height: 300px;
  border: 2px solid white;
}

#image-nav.hidden {
  display: none;
}
